// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.login {
  border: 1px solid black;
}

.form-control {
  width: 300px;
}

.btn-danger:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c
}

// img - reponsive
.box {
  display: flex;
  border: 1px solid black;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;
  height: 300px;
  justify-content: space-between;
  // width: 190px;
  box-sizing: border-box;
  align-items: flex-start;
  // flex-wrap: wrap;
  // flex-direction: column;
}

.user-img {
  border: 1px solid black;
  width: 220px;
  // padding: 20px;
  // border-radius: 50%;
  height: 200px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;

}

.avatar-responsive {
  // display: inline-block;
  border-radius: 50%;
}

.star-project {
  // display: inline-block;
  border: 1px solid black;
  padding: 20px;
  width: 900px;


}

.form-inline{
  width: 300px;
  // height: 200px;
   display: flex;
  //  align-items: flex-start;
  border: 1px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;

}

.Transfer-button{
  margin-top: 10px;
  width: 255px

}

.pp {
  padding: 20px;
  border: 1px solid black;
  width: 220px;
  // flex-direction: column;
}


// @media screen(whidth:) {
//   .box {
//     display: flex;
//     margin: 10px;
//     justify-content: space-between;
//     border: 1px solid black;
//     flex-wrap: wrap;
//     flex-direction: row;
//     align-content: center;
//     // width: 100%
//   }
//
// }
//
// @media screen and (whidth:) {
//
// }
