// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.color-button-home{
  color: #5cb85c;
  background-image: none;
  background-color: transparent;
  border-color: #5cb85c
}

.color-button-home:hover{
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c;
}


.dropdown-menu {
  left: -57px;
  border-color: #5cb85c
}

// img - reponsive

.box-body {
  position: fixed;
  height:100%;
  width: 100%;
  background-color: #f2f4f5;
}

.box {
  height:100%;
  display: flex;
  border: 1px solid black;
  padding-left: 100px;
  padding-right: 100px;
  margin: 10px;
  justify-content: space-between;
  background-color: #f2f4f5;
  box-sizing: border-box;
  align-items: flex-start;
  // flex-wrap: wrap;
  // flex-direction: column;
}

.user-img {
  // border: 1px solid black;
  width: 220px;
  // padding: 20px;
  // border-radius: 50%;
  height: 250px;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;

}

.avatar-responsive {
  // display: inline-block;
  border-radius: 50%;
}

.star-project {
  // display: inline-block;
  // border: 1px solid black;
  padding: 20px;
  width: 900px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;


}

.form-inline-home{
  width: 300px;
  // height: 200px;
   display: flex;
  //  align-items: flex-start;
  // border: 1px solid black;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  padding: 20px;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  background-color: white;

}

.Transfer-button{
  margin-top: 10px;
  width: 255px

}

.button-user {
  padding: 20px;
  border: 1px solid black;
  width: 220px;
  // flex-direction: column;
}

.user-img-circle {
  // border: 1px solid black;
  border-radius: 50%;
  padding: 10px;
  background-color: white;
  box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2), 0 6px 20px 0 rgba(0, 0, 0, 0.19);
  margin-bottom: 10px;
}


// @media screen(whidth:) {
//   .box {
//     display: flex;
//     margin: 10px;
//     justify-content: space-between;
//     border: 1px solid black;
//     flex-wrap: wrap;
//     flex-direction: row;
//     align-content: center;
//     // width: 100%
//   }
//
// }
//
// @media screen and (whidth:) {
//
// }


// page config

.type-box{
  display: flex;
  justify-content: center;
}

.type-config{
  // border: 1px solid black;
  // display: flex;
  height: 600px;
  width: 600px;
  background-color: white;
}

.avatar-config{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  // border: 1px solid black;
  font-size: 14px;
  line-height: 1.25;
  color: #464a4c;
  // background-color: #fff;
  // background-clip: padding-box;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.text-config{
  margin-top: 20px;
  display: flex;
  justify-content: center;
  border: 1px solid black;
  font-size: 14px;
  line-height: 1.25;
  color: #464a4c;
  border: 1px solid rgba(0, 0, 0, 0.15);
  border-radius: 0.25rem;
}

.btn-color-config{
  background-color: #5cb85c;
}

.btn-color-config:hover{
  color: #fff;
  background-color: #449d44;
  border-color: #419641;
}

.btn-primary {
    border-color: #5cb85c;
}

// .save-box {
//   position:fixed;
//   height:100%;
//   width: 100%;
//   background-color: #f2f4f5;
//   display: flex;
//   justify-content: center;
// }
//
// .flash-message {
//   border-radius: 20px;
//   // border: 1px solid black;
//   margin-top: 200px;
//   height: 100px;
//   width: 600px;
//   background-color: white;
// }
//
// .flash-message:hover{
//   box-shadow:  0 4px 8px 0 rgba(0, 0, 0, 0.21), 0 6px 20px 0 rgba(247, 174, 125, 0.28);
// }
