// Place all the styles related to the Sessions controller here.
// They will automatically be included in application.css.
// You can use Sass (SCSS) here: http://sass-lang.com/
@import "bootstrap";

.login {
  border: 1px solid black;
}

.form-control {
  width: 300px;
}

// .btn {
//   width: 300px;
// }

.btn-danger:hover {
  color: #fff;
  background-color: #5cb85c;
  border-color: #5cb85c
}

.user-img {
  display: block;
  border: 1px solid black;
  padding: 60px;
}
